langchain
numpy
pandas
streamlit
langchain-google-genai
langchain_community
langserve
fastapi
uvicorn
starlette
langchain-ollama
pydantic
sse_starlette
bs4
pypdf
google-genai
chromadb
faiss-cpu
arxiv
wikipedia
langchainhub
groq
langchain-groq
beautifulsoup4
sentence-transformers
langchain-huggingface